[cta-vertical="true"]{
  .cta{
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 3rem;
    @media screen and (max-width: 991px){
      gap: 1rem;
    }
  }
  .spacer-4{
    display: none;
  }
  .cta_info-text{
    display: none;
  }
}

.dark-background {
  .section_cta{
    border-top: 1px solid #fff;
    .cta_info-heading{
      color: #fff;
    }
  }
}

