.section_featured-work{
  .featured-slider{
    transform: rotate(5deg);
    width: 100%;
    .featured-slider_wrapper{
      .feature-slider_card{
        transition: transform 0.3s ease;
        transform: scale(0.6);
        width: 90%;
        @media screen and (max-width: 767px){
          width: 80%;
        }
      }
      .swiper-slide-active {
        transform: scale(1);
      }
    }
    .swiper-slide-prev,
    .swiper-slide-next{
      z-index: 20;
    }
  }

  .featured-slider_info-title-link.active-name {
    top: 0; /* Active slide */
  }
  .featured-slider_info-text.active-name {
    top: 0; /* Active slide */
  }
}