.section_featured-work{
  .featured-slider{
    transform: rotate(5deg);
    width: 100%;
    .featured-slider_wrapper{
      .feature-slider_card{
        transition: transform 0.3s ease;
        transform: scale(0.8);
        width: 80%;
        @media screen and (max-width: 991px){
          width: 90%;
        }
        @media screen and (max-width: 767px){
          width: 100%;
        }
      }
      .swiper-slide-active {
        transform: scale(1);
      }
    }
    .swiper-slide-prev,
    .swiper-slide-next{
      z-index: 20;
    }
  }

  .featured-slider_info-title-link.active-name {
    top: 0; /* Active slide */
  }
  .featured-slider_info-text.active-name {
    top: 0; /* Active slide */
  }

  .swiper-pagination-bullet{
    width: 18px;
    height: 18px;
    transition: 0.3s ease;
    margin: 0 0.4rem !important;
  }

  .swiper-pagination-bullet-active{
    width: 20px;
    height: 20px;
    background: #000;
  }
}