.section_footer{
  .footer_social-text{
    position: relative;
    &:after{
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 1px;
      max-width: 0px;
      content: '';
      background-color: #fff;
      transition: all 0.2s ease;
    }
    &:hover:after{
      max-width: 100%;
    }
  }  

  .footer_bottom-link{
    &:after{
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 1px;
      max-width: 0px;
      content: '';
      background-color: #fff;
      transition: all 0.2s ease;
    }
    &:hover:after{
      max-width: 100%;
    }
    &:before{
      background-color: #fdfdfd;
      bottom: 9px;
      content: "";
      height: 2px;
      left: -20px;
      position: absolute;
      width: 6px;
    }
  }

  .footer_form,
  #w-node-eb27cb79-49a9-3722-6db2-6e2b5b5d4676-c9e90c23{
    @media (min-width: 1200px) and (max-width: 1400px){
      grid-area: 2/8/3/13;
    }
    @media (min-width: 991px) and (max-width: 1200px){
      grid-area: 3/4/4/13;
    }
  }

  .footer_links,
  #w-node-cb821aa1-20bb-42b4-5d0b-5bfedac91718-c9e90c23{
    @media (min-width: 991px) and (max-width: 1200px){
      grid-area: 4/4/5/13;
    }
  }

  .footer_info,
  #w-node-d06d78c1-1085-e39f-1428-65b91d90e17c-c9e90c23{
    @media (min-width: 991px) and (max-width: 1200px){
      grid-area: 2/4/3/11;
    }
  }

  .footer_form-input:focus{
    // border-radius: 0.125rem;
    outline: 1px solid #2562EA;
    outline-offset: 2px;
    border-color: #b3b3b3;
  }

  .input-error-state{
    // border-radius: 0.125rem;
    outline: 1px solid #B91C1B !important;
    outline-offset: 2px;
    position: relative;
    color: #B91C1B !important;
  }

  .footer_form-input:has(.input-error-state){
    .contact-form_block-error{
      opacity: 1;
    }
  }

  .footer .locale-list .locale-link.w--current{
    color: #000;
  }
}
