.form-input:focus,
.form-textarea:focus{
  // border-radius: 0.125rem;
  outline: 1px solid #2562EA;
  outline-offset: 2px;
  border-color: #b3b3b3;
}

.input-error-state{
  // border-radius: 0.125rem;
  outline: 1px solid #B91C1B !important;
  outline-offset: 2px;
  position: relative;
  color: #B91C1B !important;
}

.contact-form_block:has(.input-error-state){
  .form-label{
    color: #B91C1B;
  }
  .contact-form_block-error{
    opacity: 1;
  }
}

.form-select-field{
  option{
    font-size: 0.875rem;
    font-family: "DM-Sans";
    color: #838383;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #E6E6E6;
  }
}

/////////////
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
  width: 100%;
}

.custom-select {
  width: 100%;
  position: relative;
  display: inline-block;
  border: 1px solid #B3B3B3;
  background: #FBFBFB;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  min-height: 3.3rem;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    min-height: 2.44rem;
  }
}

.custom-select-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  width: 100%;
}

.custom-select-trigger-icon.dropdown-open{
  transform: rotate(180deg);
}

.custom-options {
  display: none;
  top: 3.5rem;
  position: absolute;
  z-index: 99;
  left: 0;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: #FBFBFB;
  box-shadow: 0px 6px 20px 3px rgba(33, 33, 33, 0.03);
  border: 1px solid #B3B3B3;
}

.custom-options.show{
  display: block;
}

.custom-option {
  color: #838383;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04375rem;
  display: block;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid #E6E6E6;
  cursor: pointer;
  transition: all 0.2s ease;
  padding-left: 0px;
  &:hover{
    padding-left: 0.5rem;
    background-color: #EFFF32;
  }
}

.contact-form_last-row{
  @media screen and (max-width: 1500px){
    flex-direction: column;
  }
}

.contact-hero_header,
#w-node-_9a69a286-fd28-9008-c5eb-2220b55a1dae-eb3a7534{
  @media (min-width: 991px) and (max-width: 1400px){
    grid-area: 1/2/1/12;
  }
}

.contact-hero_location,
#w-node-dd051788-86aa-4e4c-276d-99ab3dd32e88-eb3a7534{
  @media (min-width: 991px) and (max-width: 1400px){
    grid-area: 3/2/3/12;
  }
}

.contact-hero_form,
#w-node-_07e1b4d0-0f5b-6881-7630-a437aa3cdbec-eb3a7534{
  @media (min-width: 991px) and (max-width: 1400px){
    grid-area: 2/2/2/12;
  }
}

.contact-form-submit{
  position: relative;
  overflow: hidden;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  border-radius: 1.5rem;
  border-top: 0px;
  &:after{
    background-color: #000;
    top: 0;
    content: "";
    left: 6%;
    padding-bottom: 1px;
    pointer-events: none;
    position: absolute;
    right: auto;
    top: 0;
    width: 88%;
    z-index: -1;
  }
}

.contact-form-submit:before{
  pointer-events: none;
  background-color: #000;
  transform: translateY(-5em);
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  border-radius: 50%;
  transition: border-radius 0.15s cubic-bezier(0.12, 0, 0.39, 0) 0.0s, transform 0.2s cubic-bezier(0.12, 0, 0.39, 0);
}

.contact-form-submit:hover::before{
  transform: translateY(0em);
  border-radius: 0%;
  transition: border-radius 0.15s cubic-bezier(0.61, 1, 0.88, 1) 0.15s, 0.2s cubic-bezier(0.61, 1, 0.88, 1);
}

.contact-form-submit:hover{
  color: #fff;
  svg {
    transform: rotate(45deg);
    path {
      stroke: #EFFF32;
    }
  }
}




