
.nav-drop-wrapper{
  .nav-main-link-arrow{
    @media screen and (max-width: 991px){
      transform: rotate(-90deg);
    }
  }
  // &.nav-drop-wrapper_active{
  //   .nav-main-link-arrow{
  //     transform: rotate(90deg);
  //   }
  // }
  &:hover{
    .nav-main-link-inner{
      @media screen and (min-width: 992px){
        padding-left: 1.5rem;
      }
    }
    .nav-drop-underline{
      @media screen and (min-width: 992px){
        max-width: 100%;
      }
    }
    .nav-main-link-arrow{
      @media screen and (min-width: 992px){
        transform:rotate(180deg);
      }
    }
    .nav-main-link-star{
      @media screen and (min-width: 992px){
        max-width: 100%;
        opacity: 1;
      }
    }
  }
  &.dim{
    filter: blur(1px);
    opacity: 0.7;
  }
  @media screen and (max-width: 991px){
    width: 100%;
  }
  .nav-main-link-inner{
    @media screen and (max-width: 991px){
      justify-content: space-between;
    }
  }
  .nav-drop-underline{
    @media screen and (max-width: 991px){
      display: none;
    }
  }
}

.active-dropdown{
  .nav-main-link-arrow{
    transform: rotate(0deg);
  }
}

.nav-dropdown-link_bellow{
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
  transition: 0.2s ease;
  &:hover{
    .nav-dropdown-link_bellow-arrow{
      @media screen and (min-width: 992px){
        opacity: 1;
      }
    }
  }
  @media screen and (max-width: 991px){
    left: 2rem;
    bottom: 0.5rem;
  }
}

// migration & integration listings
.nav-drop_link-wrapper{
  &:hover{
    .nav-dropdown-link{
      @media screen and (min-width: 992px){
        padding: 0 0 0 1rem;
      }
      .nav-dropdown-link-star{
        @media screen and (min-width: 992px){
          opacity: 1;
          max-width: 1000px;
        }
      }
      .nav-dropdown-link-text{
        @media screen and (min-width: 992px){
          opacity: 1;
        }
      }
  
      & + .nav-dropdown-link_bellow{
        @media screen and (min-width: 992px){
          max-height: 1000px;
          opacity: 1;
        }
      }
    }
    
  }
}

.nav-drop_link-wrapper-last.active-link-wrapper{
  @media screen and (max-width: 991px){
    padding-bottom: 2.5rem;
  }
}

// migration & integration listings
.nav-dropdown-link{
  &:hover{
    @media screen and (min-width: 992px){
      padding: 0 0 0 1rem;
    }
    .nav-dropdown-link-star{
      @media screen and (min-width: 992px){
        opacity: 1;
        max-width: 1000px;
      }
    }
    .nav-dropdown-link-text{
      @media screen and (min-width: 992px){
        opacity: 1;
      }
    }

    & + .nav-dropdown-link_bellow{
      @media screen and (min-width: 992px){
        max-height: 1000px;
        opacity: 1;
      }
    }
  }
}

// migration & integration listing sidebar scroll styling for media links
.nav-drop_content-media_sublinks,
.nav-drop_content-media_sublinks-mobile{
  &::-webkit-scrollbar {
    width: 8px; /* Controls the overall width of the scrollbar */
    padding: 2.5px; /* Controls the padding of the Scrollbar */
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
  }

  /* Track - This is the part that contains the bit you click and drag */
  &::-webkit-scrollbar-track {
    background: transparent; /* Sets the background to transparent, change to a Hex or RGB value if you would like */
  }

  /* Handle - This is the bit you actually click and drag */
  &::-webkit-scrollbar-thumb {
    background: #b1a9a9; /* Change the Hex value to change the scroll handle */
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
  }
}

.nav-drop_content-media_sublinks-mobile{
  max-height: 0px;
  transition: all 0.2s;
  display: none;
  overflow: hidden;
  padding-left: 1.5rem;
  @media screen and (max-width: 991px){
    display: flex;
  }
  .nav-drop-link-wrapper:first-child{
    padding-top: 1.5rem;
  }
}

.active-link-wrapper{
  @media screen and (max-width: 991px){
    width: 100%;
    padding-bottom: 2.5rem;
    // left: -1rem;
  }
  .nav-drop_content-media_sublinks-mobile{
    max-height: 11rem;
    overflow: auto;
  }
  .nav-dropdown-link_bellow{
    @media screen and (max-width: 991px){
      max-height: 1000px;
      opacity: 1;
    }
  }
}


.nav-drop_content-media:has(.nav-drop_content-media_sublinks){
  border-radius: 0px;
}

.nav-drop_content-media-image { 
  opacity: 0;
  transition: all 1s ease;
  z-index: 10;
}

.nav-drop_content-media-image.show {
  opacity: 1;
  z-index: 20;
}

// dropdown content blocks fade and show
.nav-drop_content {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  transform: translateY(-10px);
  &:before{
    content: '';
    height: 4rem;
    width: 40%;
    top: -3rem;
    left: 0px;
    position: absolute;
  }
}
// this before element is to fill the gap between the link triger and the content
// so when we move the mouse over the empty space, the dropdown stays open
.menu-open{
  .nav-drop_content{
    height: -webkit-fill-available;
    background-color: transparent;
    &:before{
      top: 0rem;
      left: -3rem;
      height: 100%;
      width: 3rem;
    }
  }
}

.nav-drop-wrapper:hover .nav-drop_content {
  // on smaller screen we handle this with JavaScript with click event
  // by adding and removing the class show-drop-content
  @media screen and (min-width: 992px){
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

// small screen drop content showing
.show-drop-content.nav-drop_content{
  @media screen and (max-width: 991px){
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    max-height: 1000px;
    display: flex;
    width: 100%;
  }
  .nav-drop_content-links{
    @media screen and (max-width: 991px){
      padding-top: 0rem;
      padding-bottom: 1rem;
      padding-left: 0rem;
      margin-top: 1.5rem;
      border-bottom: 1px solid var(--swatch--ufo-blue);
      width: 100%;
      grid-row-gap: 0.5rem;
    }
  }
}


.w-nav-overlay{
  top: 0px;
}

.menu-button{
  position: relative;
  z-index: 1000;
  @media screen and (max-width: 991px){
    display: flex !important;
  }
}

.navbar_logo{
  position: relative;
  z-index: 1000;
  @media screen and (max-width: 1024){
    padding: 1.5rem 1rem 1.5rem 1rem
  }
  .navbar_logo-svg{
    @media screen and (max-width: 991px){
      width: 3.4375rem;
      height: 2.64906rem;
    }
  }
}

.nav-menu{
  z-index: 1100;
}



// When main menu is open
.w-nav-overlay{
  .nav-menu{
    z-index: 100;
    padding-top: 8rem;
    min-height: 70vh;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color--background-primary);
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    max-width: 151.69rem;
    margin-left: auto;
    margin-right: auto;
    display: grid !important;
    grid-column-gap: 24px;
    grid-template-rows: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-columns: 1fr;
    width: 100%;
    box-shadow: 0px 8px 30px 10px rgba(0, 0, 0, 0.10);
    @media screen and (max-width: 991px){
      padding-top: 6rem;
      display: flex !important;
      height: 100dvh;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 8px; /* Controls the overall width of the scrollbar */
        padding: 2.5px; /* Controls the padding of the Scrollbar */
        border-right: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
      }
    
      /* Track - This is the part that contains the bit you click and drag */
      &::-webkit-scrollbar-track {
        background: transparent; /* Sets the background to transparent, change to a Hex or RGB value if you would like */
      }
    
      /* Handle - This is the bit you actually click and drag */
      &::-webkit-scrollbar-thumb {
        background: #b1a9a9; /* Change the Hex value to change the scroll handle */
        border-right: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
      }
    }
    @media screen and (max-width: 767px){
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    .nav-drop-wrapper_bonus{
      display: block;
    }
  }

  .nav-menu_links-container{
    flex-direction: column;
    gap: 0rem;
    align-items: baseline;
    background-color: var(--swatch--light-1);
    grid-column: 2 / 13;
    @media screen and (max-width: 991px){
      grid-column: 2 / 9;
    }
    @media screen and (max-width: 767px){
      grid-column: 1 / 4;
    }
    .nav-drop-wrapper{
      position: relative;
      width: 100%;
      z-index: 200;
      // padding: 0.75rem 0;
      // when menu is open, we set the content to be relative to the nav-menu
      // and not to the nav-drop-wrapper, so we can place them all in the same place on the right side
      .nav-drop_content{
        top: 8rem;
        // nav-menu padding + nav-menu grid gap + nav-drop-wrapper width + nav-menu grid column width
        left: calc(2.4375rem + 1.5rem + 9rem + 8.333% ); 
        box-shadow: none;
        padding: 0px;
        @media screen and (max-width: 991px){
          position: static;
          max-width: 100%;
        }
      }
      .nav-main-link-star{
        display: none;
      }
      &:hover{
        .nav-main-link-inner{
          @media screen and (min-width: 992px){
            padding-left: 0px !important;
          }
        }
        .nav-main-link-arrow{
          @media screen and (min-width: 992px){
            transform: rotate(90deg);
          }
        }
      }
      .nav-main-link{
        padding: 0.75rem 0px;
      }
    }
  }

  .nav-menu_social{
    display: flex;
    grid-column: 2 / 13;
    @media screen and (max-width: 991px){
      grid-column: 1 / 9;
    }
  }

  .nav-drop-list{
    .nav-drop_content-media{
      overflow: visible;
      @media screen and (max-width: 991px){
        display: none;
      }
      .nav-drop_content-media_sublinks{
        height: 50vh;
      }
    }
  }
}

.nav-drop-list{
  .nav-drop_content-media{
    .nav-drop_content-media-image {
      background-color: var(--swatch--light-1);

    }
  }
}

.w-nav-button.w--open{
  background-color: var(--swatch--light-1);
}


  /*menu peekaboo*/
.navbar {
  transition: padding 0.3s ease, background-color 0.3s ease;
}
 
.navbar.menu-hidden {
  // transform: translateY(-100%);
}

.navbar.menu-background {
  background-color: var(--swatch--light-1);
}


.dark-background{
  .navbar{
    --swatch--light-1: #212121;
    --swatch--ufo-blue: #FF16BE;
    --swatch--text-black-dark: #F6F6F6;
    --swatch--dark-1: #fff;
    --color--background-primary: #212121;
    --color--text-primary: #fff;
    --swatch--dark-black: #fff;
    .navbar_logo-svg{
      path{
        fill: #fff;
      }
    }
    .nav-main-link{
      color: #fff;
    }
    .nav-main-link-arrow{
      path{
        stroke: #fff;
      }
    }
    .nav-main-link_container .nav-drop-underline{
      background-color: #fff;
    }
    .nav-drop_content-media_sublinks,
    .nav-drop_content-media_sublinks-mobile,
    .nav-menu{
      &::-webkit-scrollbar-thumb {
        border-right: 1px solid #FF16BE;
        border-left: 1px solid #FF16BE;
        background: #FF16BE;
      }
    }
    .menu-button{
      background-color: #212121;
    }

    .button-wrapper[white-text="false"]{
      color: #fff;
      border-top-color: #fff;
      svg {
        path {
          stroke: #fff;
        }
      }
      &:has(.button-link:hover){
        color: #212121;
        svg {
          transform: rotate(45deg);
          path {
            stroke: #FF16BE;
          }
        }
      }
      .button-link:before{
        background-color: #fff;
      }
    }
    .nav-dropdown-link_bellow-arrow{
      path{
        stroke: #fff;
      }
    }
  }
  .button-wrapper[white-text]:not(.fs-consent_banner .button-wrapper[white-text]):not(.fs-consent_prefs_popup .button-wrapper[white-text]){
    color: #fff;
    border-top-color: #fff;
    svg {
      path {
        stroke: #fff;
      }
    }
    &:has(.button-link:hover){
      color: #212121;
      svg {
        transform: rotate(45deg);
        path {
          stroke: #FF16BE;
        }
      }
    }
    .button-link:before{
      background-color: #fff;
    }
  }
  
  .locale-list .locale-link{
    color: #fff;
  }

  .locale-list .locale-link.w--current{
    color: #000;
  }
}


.menu-open{
  .navbar-container{
    background-color: #fff;
    z-index: 9999;
    position: relative;
    .navbar_language-switcher{
      display: none;
    }
  }
}

.dark-background{
  .menu-open{
    .navbar-container{
      background-color: #212121;
    }
  }  
}
