.services_card{
  border: 2px solid transparent;

  &:hover{
    .services_card-heading-arrow{
      transform: rotate(-45deg);
      &-path{
        opacity: 1;
      }
    }
    .button-wrapper { 
      opacity: 1;
    }

    .services_card-logo-large{
      opacity: 0;
    }

    .services_card-logo-small{
      opacity: 1;
    }
  }

  /* Background Green */
  &[background-color="green"]{
    --swatch--dark-1: #fff;
    --color--text-primary: #fff;
    --color--text-secondary: #fff;
    &:hover{
      --swatch--dark-1: #000;
      --color--text-primary: #000;
      --color--text-secondary: #000;
      background: linear-gradient(to bottom right, rgba(0, 184, 73, 0.60) 0%, rgba(4, 244, 100, 0.60) 50%) bottom right / 50% 50% no-repeat, 
                  linear-gradient(to bottom left, rgba(0, 184, 73, 0.60) 0%, rgba(4, 244, 100, 0.60) 50%) bottom left / 50% 50% no-repeat, 
                  linear-gradient(to top left, rgba(0, 184, 73, 0.60) 0%, rgba(4, 244, 100, 0.60) 50%) top left / 50% 50% no-repeat, 
                  linear-gradient(to top right, rgba(0, 184, 73, 0.60) 0%, rgba(4, 244, 100, 0.60) 50%) top right / 50% 50% no-repeat, #00DE59;
      box-shadow: 0px 12px 20px 0px rgba(36, 36, 36, 0.06);
      border: 2px solid #B7FED4;
      .services_card-number{
        color: #fff;
      }
    }
  }

  /* Background Green */
  &[background-color="pink"]{
    &:hover{
      background: linear-gradient(to bottom right, rgba(102, 0, 74, 0.60) 0%, rgba(255, 22, 190, 0.60) 50%) bottom right / 50% 50% no-repeat, 
      linear-gradient(to bottom left, rgba(102, 0, 74, 0.60) 0%, rgba(255, 22, 190, 0.60) 50%) bottom left / 50% 50% no-repeat, 
      linear-gradient(to top left, rgba(102, 0, 74, 0.60) 0%, rgba(255, 22, 190, 0.60) 50%) top left / 50% 50% no-repeat, 
      linear-gradient(to top right, rgba(102, 0, 74, 0.60) 0%, rgba(255, 22, 190, 0.60) 50%) top right / 50% 50% no-repeat, #FF16BE;
      box-shadow: 0px 12px 20px 0px rgba(255, 22, 190, 0.21);
      border: 2px solid #FF16BE;
      .button-wrapper{
        border-top: 1px solid #fff;
      }
      .button-icon path{
        stroke: #fff;
      }
      .button-text{
        color: #fff;
      }
      .services_card-heading-text{
        color: #fff;
      }
      .services_card-text{
        color: #fff;
      }
      .services_card-number{
        color: #fff;
      }
    }
  }

  /* Background Yellow */
  &[background-color="yellow"]{
    &:hover{
      background: linear-gradient(to bottom right, rgba(250, 255, 192, 0.60) 0%, rgba(238, 255, 50, 0.60) 50%) bottom right / 50% 50% no-repeat, 
                  linear-gradient(to bottom left,  rgba(250, 255, 192, 0.60) 0%,  rgba(238, 255, 50, 0.60) 50%) bottom left / 50% 50% no-repeat, 
                  linear-gradient(to top left, rgba(250, 255, 192, 0.60) 0%,  rgba(238, 255, 50, 0.60) 50%) top left / 50% 50% no-repeat, 
                  linear-gradient(to top right, rgba(250, 255, 192, 0.60) 0%,   rgba(238, 255, 50, 0.60) 50%) top right / 50% 50% no-repeat, #EEFF32;
      border: 2px solid #EEFF32;
      box-shadow: 0px 12px 20px 0px rgba(238, 255, 50, 0.21);
      .services_card-number{
        color: #fff;
      }
    }
  }

  /* Background Blue */
  &[background-color="blue"]{
    --swatch--dark-1: #fff;
    --color--text-primary: #fff;
    --color--text-secondary: #fff;
    .button-text{
      color: #fff;
    }
    .button-wrapper{
      border-top: 1px solid #fff;
    }
    .button-icon path{
      stroke: #fff;
    }
    &:hover{
      background: linear-gradient(to bottom right, rgba(3, 45, 107, 0.60) 0%, rgba(6, 135, 255, 0.60) 50%) bottom right / 50% 50% no-repeat, 
                  linear-gradient(to bottom left, rgba(3, 45, 107, 0.60) 0%, rgba(6, 135, 255, 0.60) 50%) bottom left / 50% 50% no-repeat, 
                  linear-gradient(to top left, rgba(3, 45, 107, 0.60) 0%, rgba(6, 135, 255, 0.60) 50%) top left / 50% 50% no-repeat, 
                  linear-gradient(to top right, rgba(3, 45, 107, 0.60) 0%, rgba(6, 135, 255, 0.60) 50%) top right / 50% 50% no-repeat, #146EF5;
      box-shadow: 0px 12px 20px 0px rgba(20, 110, 245, 0.20);
      border: 2px solid #EFFF32;
      
      .services_card-heading-text,
      .services_card-text,
      .services_card-heading-arrow,
      .services_card-number{
        color: #fff;
      }
    }
  }

  .button-wrapper {
    opacity: 0.3;
    transition: all 0.3s ease;
  }

  &[dark-page="false"]{
    --swatch--dark-1: #000;
    --color--text-primary: #000;
    --color--text-secondary: #000;
  }

  &[show="arrow"]{
    .services_card-heading-arrow{
      display: block;
    }
    .services_card-logo-large{
      display: none;
    }
    .services_card-logo-small{
      display: none;
    }
    .services_card-number{
      display: none;
    }
  }

  &[show="number"]{
    .services_card-heading-arrow{
      display: none;
    }
    .services_card-logo-large{
      display: none;
    }
    .services_card-logo-small{
      display: none;
    }
    .services_card-number{
      display: block;
    }
  }

  &[show="image"]{
    .services_card-heading-arrow{
      display: none;
    }
    .services_card-logo-large{
      display: block;
    }
    .services_card-logo-small{
      display: block;
    }
    .services_card-number{
      display: none;
    }
    
  }
}



