
.services-slider{
  &_slide:not(:last-of-type){
    border-right: 1px solid #000;
    @media (min-width: 768px) and (max-width: 991px){
      &:nth-child(even){
        border-right: none;
      }
    }
  }

  &_slide:nth-child(3),
  &_slide:nth-child(4) {
    @media (min-width: 768px) and (max-width: 991px) {
      border-top: 0px;
    }
  }

  &_slide * {
    transition: all 0.3s ease;
  }

  &_slide:hover{
    .services-slide_background{
      opacity: 1;
    }
    // background-color: #000;
    --swatch--dark-1: #fff;
    --color--text-primary: #fff;
    --color--text-secondary: #fff;
    .services-slide_icon-1{
      width: 70%;
      max-width: 1000px;
      margin-left: 10%;
      margin-bottom: 10%;
      path{
        fill: #1318F5;
      }
    }
    .services-slide_icon-2{
      width: 40%;
      max-width: 1000px;
      margin-left: 25%;
      margin-bottom: 10%;
      path{
        fill: #FF16BE;
      }
    }
    .services-slide_icon-3{
      width: 40%;
      max-width: 1000px;
      margin-left: 25%;
      margin-bottom: 10%;
      path{
        fill: #EFFF32;
      }
    }
    .services-slide_icon-4{
      width: 40%;
      max-width: 1000px;
      margin-left: 25%;
      margin-bottom: 10%;
      path{
        fill: #04F464;
      }
    }
  }
}

.swiper-scrollbar {
  position: static !important;
  width: 100% !important;
  border-bottom: 1px solid #000;
  height: 0.7rem !important;
  padding: 0.12rem 0;
  border-radius: 0;
  background-color: transparent;

  &-drag {
    background: #9fa5b2; /* Color of the scrollbar thumb */
    border-radius: 0px;
  }
}


