.services_card{
  border: 1px solid transparent;

  &:hover{
    .services_card-heading-arrow{
      transform: rotate(-45deg);
      &-path{
        opacity: 1;
      }
    }
    .button-wrapper { 
      opacity: 1;
    }

    .services_card-logo-large{
      opacity: 0;
    }

    .services_card-logo-small{
      opacity: 1;
    }
  }

  /* Background Green */
  &[background-color="green"]{
    --swatch--dark-1: #fff;
    --color--text-primary: #fff;
    --color--text-secondary: #fff;
    border: 1px transparent;
    &:hover{
      --swatch--dark-1: #000;
      --color--text-primary: #000;
      --color--text-secondary: #000;
      background: radial-gradient(94.64% 108.53% at 52.36% 100%, rgba(0, 184, 73, 0.60) 0%, rgba(4, 244, 100, 0.60) 100%), #04F464;
      box-shadow: 0px 12px 20px 0px rgba(36, 36, 36, 0.06);
      border: 1px #00B700;
    }
  }

  /* Background Green */
  &[background-color="pink"]{
    &:hover{
      background: radial-gradient(94.64% 108.53% at 52.36% 100%, rgba(102, 0, 74, 0.60) 0%, rgba(255, 22, 190, 0.60) 100%), #FF16BE;
      border: 1px solid #FF7ADA;
      .button-wrapper{
        border-top: 1px solid #fff;
      }
      .button-icon path{
        stroke: #fff;
      }
      .button-text{
        color: #fff;
      }
      .services_card-heading-text{
        color: #fff;
      }
      .services_card-text{
        color: #fff;
      }
      .services_card-number{
        color: #fff;
      }
    }
  }

  /* Background Yellow */
  &[background-color="yellow"]{
    &:hover{
      background: radial-gradient(94.64% 108.53% at 52.36% 100%, rgba(238, 215, 0, 0.60) 0%, rgba(238, 255, 50, 0.60) 100%), #EEFF32;
      border: 1px solid #FAFFC0;
      box-shadow: 0px 12px 20px 0px rgba(238, 255, 50, 0.21);
    }
  }

  /* Background Blue */
  &[background-color="blue"]{

    &:hover{
      background: radial-gradient(94.64% 108.53% at 52.36% 100%, rgba(3, 45, 107, 0.60) 0%, rgba(6, 135, 255, 0.60) 100%), #146EF5;
      box-shadow: 0px 12px 20px 0px rgba(20, 110, 245, 0.20);
      border: 1px solid #04275D;
      
      .services_card-heading-text,
      .services_card-text,
      .services_card-heading-arrow,
      .services_card-number{
        color: #fff;
      } 

      --swatch--dark-1: #fff;
      --color--text-primary: #fff;
      --color--text-secondary: #fff;
      .button-text{
        color: #fff;
      }
      .button-wrapper{
        border-top: 1px solid #fff;
      }
      .button-icon path{
        stroke: #fff; 
      }


      .button-wrapper:hover{
        .button-text{
          color: #fff;
        }
      }
    }
  }
  &[background-color="blue"][dark-page="true"]{
    .button-wrapper:hover{
      .button-text{
        color: #000;
      }
    }
  }

  .button-wrapper {
    opacity: 0.3;
    transition: all 0.3s ease;
  }

  &[dark-page="false"]{
    --swatch--dark-1: #000;
    --color--text-primary: #000;
    --color--text-secondary: #000;
  }

  &[dark-page="true"]{
    --swatch--dark-1: #fff;
    --color--text-primary: #fff;
    --color--text-secondary: #fff;
  }

  &[show="arrow"]{
    .services_card-heading-arrow{
      display: block;
    }
    .services_card-logo-large{
      display: none;
    }
    .services_card-logo-small{
      display: none;
    }
    .services_card-number{
      display: none;
    }
  }

  &[show="number"]{
    .services_card-heading-arrow{
      display: none;
    }
    .services_card-logo-large{
      display: none;
    }
    .services_card-logo-small{
      display: none;
    }
    .services_card-number{
      display: block;
    }
  }

  &[show="image"]{
    .services_card-heading-arrow{
      display: none;
    }
    .services_card-logo-large{
      display: block;
    }
    .services_card-logo-small{
      display: block;
    }
    .services_card-number{
      display: none;
    }
    
  }
}



