.testimonials-card{
  // background-color: #fff;
  &.active-testimonial{
    background-color: #F5F5F5;
    .testimonial-slide_media{
      &:before{
        content: '';
        position: absolute;
        width: 7.5625rem;
        height: 7.5625rem;
        top: -4.75rem;
        right: 0.75rem;
        background-size: contain;
        background-image: url('https://uploads-ssl.webflow.com/6666fa328cf6c110c9e90c20/667019dc946e67e168e0d312_bxs_quote-left.svg');
        @media screen and (max-width: 991px){
          width: 5.0625rem;
          height: 5.0625rem;
          top: -2.56rem;
          right: 1.25rem;
        }
        @media screen and (max-width: 767px){
          width: 3.1875rem;
          height: 3.1875rem;
          top: -1.87rem;
          right: 0.63rem;
        }
      }
    }
  }
  &:before{
    content: '';
    background-color:black;
    width: 2px;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: -12px;
    @media screen and (max-width: 991px){
      left: -8px;
    }
    @media screen and (max-width: 767px){
      width: 1px;
      left: -4px;
    }
  }
}

// removed separator from the first slide
.swiper-slide-active{
  &:before{
    display: none;
  }
}

.testimonial-pagination{
  width: fit-content !important;
  padding: 2px 0;
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px){
    left: 50% !important;
  }
  .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    transition: 0.3s ease;
  }

  .swiper-pagination-bullet-active{
    width: 16px;
    height: 16px;
    background: #000;
  }
}



