.testimonials-card{
  max-width: 33.25rem;
  @media screen and (max-width: 991px){
    max-width: 21.5rem;
  }
  @media screen and (max-width: 767px){
    max-width: none;
  }
  .testimonial-slide_media{
    max-width: 0px;
    @media screen and (max-width: 767px){
      max-width: 100%;
    }
  }
  &.active-testimonial{
    max-width: 56.75rem;
    @media screen and (max-width: 991px){
      max-width: 43.875rem;
    }
    @media screen and (max-width: 767px){
      max-width: none;
    }
    background-color: #F5F5F5;

    .testimonial-slide_media{
      max-width: 23.5rem;
      @media screen and (max-width: 991px){
        max-width: 21.875rem;
      }
      @media screen and (max-width: 767px){
        max-width: none;
      }

      &:before{
        content: '';
        position: absolute;
        width: 7.5625rem;
        height: 7.5625rem;
        top: -4.75rem;
        right: 0.75rem;
        background-size: contain;
        background-image: url('https://uploads-ssl.webflow.com/6666fa328cf6c110c9e90c20/667019dc946e67e168e0d312_bxs_quote-left.svg');
        @media screen and (max-width: 991px){
          width: 5.0625rem;
          height: 5.0625rem;
          top: -2.56rem;
          right: 1.25rem;
        }
        @media screen and (max-width: 767px){
          width: 3.1875rem;
          height: 3.1875rem;
          top: -1.87rem;
          right: 0.63rem;
        }
      }
    }
  }
  &:before{
    content: '';
    background-color:black;
    width: 2px;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: -12px;
    @media screen and (max-width: 991px){
      left: -8px;
    }
    @media screen and (max-width: 767px){
      width: 1px;
      left: -4px;
    }
  }
}

// removed separator from the first slide
.swiper-slide-active{
  &:before{
    display: none;
  }
}

// dummy slide on the end, so that the real last slide can be opened
// when you click on it (needed to create some space)
.empty-testimonial{
  visibility: hidden;
  pointer-events: none;
  @media screen and (max-width: 767px){
    display: none !important;
  }
}


