.testimonials-card{
  // background-color: #fff;
  &.active-testimonial{
    background-color: #F5F5F5;
    .testimonial-slide_media-quote{
      top: -5rem;
      z-index: 200;
      opacity: 1;
      @media screen and (max-width: 991px){
        top: -2.5rem;
      }
      @media screen and (max-width: 767px){
        top: -2rem;
      }
    }
  }
  &:before{
    content: '';
    background-color:black;
    width: 2px;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: -12px;
    @media screen and (max-width: 991px){
      left: -8px;
    }
    @media screen and (max-width: 767px){
      width: 1px;
      left: -4px;
    }
  }
}

// removed separator from the first slide
.swiper-slide-active{
  &:before{
    display: none;
  }
}

.testimonial-pagination{
  width: fit-content !important;
  padding: 2px 0;
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px){
    left: 50% !important;
  }
  .swiper-pagination-bullet{
    width: 16px;
    height: 16px;
    transition: 0.3s ease;
    margin: 0 0.4rem !important;
  }

  .swiper-pagination-bullet-active{
    width: 18px;
    height: 18px;
    background: #000;
  }
}

[quote-color="green"]{
  .testimonial-slide_media-quote{
    path{
      fill: #04F464;
    }
  }
}

[quote-color="yellow"]{
  .testimonial-slide_media-quote{
    path{
      fill: #EFFF32;
    }
  }
}

[quote-color="blue"]{
  .testimonial-slide_media-quote{
    path{
      fill: #1318F5;
    }
  }
}

[quote-color="pink"]{
  .testimonial-slide_media-quote{
    path{
      fill: #FF16BE;
    }
  }
}




