.blog_rich-text{
    strong{
      color: #000;
    }
    .text-size-large{
      font-size: 2rem;
      line-height: 130%; 
      letter-spacing: -0.1rem;
      color: #212121;
      @media screen and (max-width: 767px){
        font-size: 1.375rem;
        letter-spacing: -0.06875rem;
      }
    }
  
    .link-yellow{
      text-decoration-line: underline;
      background-color: #EFFF32;
      display: inline;
      color: #212121;
    }
  
    .link-icon{
      text-decoration-line: underline;
      position: relative;
      display: inline-block;
      font-size: 2.125rem;
      font-family: "DM Mono";
      line-height: 140%;
      letter-spacing: -0.10625rem;
      padding-left: 3rem;
      font-style: italic;
      &:before {
        width: 2rem;
        height: 2rem;
        position: absolute;
        content: '';
        left: 0px;
        bottom: 0.5rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('https://uploads-ssl.webflow.com/6666fa328cf6c110c9e90c20/66792d523d09f8c39ae2131c_stample-icon.svg');
        @media screen and (max-width: 767px){
          width: 1.5rem;
          height: 1.5rem;
        }
      }
      @media screen and (max-width: 991px){
        font-size: 2rem;
        letter-spacing: -0.1rem;
      }
      @media screen and (max-width: 767px){
        font-size: 1.5rem;
        letter-spacing: -0.075rem;
        padding-left: 2rem;
      }
    }
  
    ul{
      padding-left: 1.75rem;
      list-style-type: none;
      
      li{
        position: relative;
        padding-left: 0.5rem;
        &:before{
          width: 1rem;
          height: 0.5rem;
          position: absolute;
          content: '';
          left: -1rem;
          bottom: 0.7rem;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url('https://uploads-ssl.webflow.com/6666fa328cf6c110c9e90c20/667936eba602c3f5d02e66d7_Icon.svg');
          @media screen and (max-width: 767px){
            bottom: 0.5rem;
          }
        }
      }
    }
    ol{
      list-style-type: none;
      counter-reset: item;
      li{
        position: relative;
        &:before{
          font-size: 0.625rem;
          line-height: 120%;
          letter-spacing: -0.03125rem;
          display: inline-block;
          content: counter(item) ". ";
          counter-increment: item;
          position: absolute;
          left: -0.3rem;
          top: 0.4rem;
        }
      }
    }
  
  }

  
  .blog_links-sticky{
    .blog_links-anchor,
    .w--current .blog_links-anchor{
      transition: all 0.2s ease;
      position: relative;
      &:hover{
        padding-left: 2rem;
        color: #000;
        @media screen and (max-width: 991px){
          padding-left: 1.75rem;
        }
        &:before{
          opacity: 1
        }
      }
      &:before{
        position: absolute;
        opacity: 0;
        transition: all 0.2s;
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url('https://uploads-ssl.webflow.com/6666fa328cf6c110c9e90c20/667962d73243de7bfa196207_star-icon.svg');
        @media screen and (max-width: 991px){
          width: 0.75rem;
          height: 0.75rem;
        }
      }
    }
    .w--current .blog_links-anchor{
      padding-left: 2rem;
      color: #000;
      @media screen and (max-width: 991px){
        padding-left: 1.75rem;
      }
      &:before{
        opacity: 1
      }
    }
    .navigation-level-2{
      .blog_links-anchor,
      .w--current .blog_links-anchor{
        &:hover{
          padding-left: 1.5rem;
        }
        &:before{
          width: 1rem;
          height: 1rem;
          @media screen and (max-width: 991px){
            width: 0.5rem;
            height: 0.5rem;
          }
        }
      }
      .w--current .blog_links-anchor{
        padding-left: 1.5rem;
      }
    }
    .navigation-level-3{
      .blog_links-anchor,
      .w--current .blog_links-anchor{
        &:hover{
          padding-left: 1.25rem;
        }
        &:before{
          width: 0.75rem;
          height: 0.75rem;
          @media screen and (max-width: 991px){
            width: 0.5rem;
            height: 0.5rem;
          }
        }
      }
      .w--current .blog_links-anchor{
        padding-left: 1.5rem;
      }
    }
    .blog_links-sticky-table{
      &::-webkit-scrollbar {
        width: 8px; /* Controls the overall width of the scrollbar */
        padding: 2.5px; /* Controls the padding of the Scrollbar */
        border-right: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
      }
    
      /* Track - This is the part that contains the bit you click and drag */
      &::-webkit-scrollbar-track {
        background: transparent; /* Sets the background to transparent, change to a Hex or RGB value if you would like */
      }
    
      /* Handle - This is the bit you actually click and drag */
      &::-webkit-scrollbar-thumb {
        background: #b1a9a9; /* Change the Hex value to change the scroll handle */
        border-right: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
      }
    }
    .blog_links-sticky-table .blog_links-sticky-link-wrapper:not(:has(.blog_links-sticky-link-wrapper)) .blog_links-anchor {
      margin-bottom: 0px;
    }
  }
  
  .blog_links-sticky-cta-heading{
    position: relative;
    &:after{
      position: absolute;
      content: '';
      width: 5.45rem;
      height: 2.88rem;
      right: 0px;
      bottom: 0px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url('https://uploads-ssl.webflow.com/6666fa328cf6c110c9e90c20/66796d9616f1343e431f0204_purple-stars.svg');
      @media screen and (max-width: 767px){
        bottom: -2rem;
      }
    }
  }

  .blog_links-sticky-scta-icon{
    @media screen and (max-width: 420px){
      width: 4.2rem;
      height: auto;
    }
  }

  .purple-star-text{
    padding-right: 6.45rem;
    @media screen and (max-width: 991px){
      padding-right: 0px;
    }
  }
  
  .blue-star-text{
    position: relative;
    padding-left: 3.75rem;
    color: #EFFF32;
    @media screen and (max-width: 991px){
      padding-left: 2.5rem;
    }
    &:after{
      position: absolute;
      content: '';
      width: 2.5rem;
      height: 2.5rem;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url('https://uploads-ssl.webflow.com/6666fa328cf6c110c9e90c20/66796ec32efdf373580fc3db_blue-star.svg');
      @media screen and (max-width: 991px){
        width: 2rem;
        height: 2rem;
      }
    }
  }
