.dark-background{
  .container-global{
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
  }
}

.migrations-why_card:not(:first-of-type):before{
  content: '';
  height: 100%;
  width: 1px;
  background-color: #fff;
  top: 0px;
  left: -12px;
  position: absolute;
  opacity: 0.5;
  @media screen and (max-width: 991px){
    display: none;
  }
}

.highlight.highlight-blue:after{
  height: 94%;
  top: 7%;
}