// Importing from a subfolder
// @import 'components/buttons';

// Importing from a different folder
// @import '../assets/variables';
@import 'components/button';

/***********************************************
 Please keep this css code to improve the font quality 
***********************************************/
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     text-rendering: optimizeLegibility;
  }
    
body {
  font-smoothing: antialiased;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
  
/***********************************************
  Make sure containers never lose their center alignment 
***********************************************/
.container-medium, .container-small, .container-large {
  margin-right: auto !important;
  margin-left: auto !important;
}

/***********************************************
  Get rid of top margin on first element in any rich text element 
***********************************************/
.w-richtext > :not(div):first-child, .w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}

/***********************************************
  Get rid of bottom margin on last element in any rich text element 
***********************************************/
.w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
    margin-bottom: 0 !important;
}
  
/************************************************
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
************************************************/
a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}

*[tabindex]:focus-visible,
input[type="file"]:focus-visible {
  outline: 2px solid #4d65ff;
  outline-offset: 2px;
}

/***********************************************
  Reset selects, buttons, and links styles
***********************************************/
.w-input, 
.w-select, 
.a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
  
/***********************************************
  Heading styles tablet
***********************************************/
@media screen and (max-width: 991px) {
  :root {
      /* heading values*/
    --heading--h1: var(--heading--md--h1);
    --heading--h2: var(--heading--md--h2);
    --heading--h3: var(--heading--md--h3);
    --heading--h4: var(--heading--md--h4);
    --heading--h5: var(--heading--md--h5);
    --heading--h6: var(--heading--md--h6);
  }
}

/***********************************************
  Heading styles mobile landscape
***********************************************/
@media screen and (max-width: 767px) {
  :root {
      /* heading values*/
    --heading--h1: var(--heading--sm--h1);
    --heading--h2: var(--heading--sm--h2);
    --heading--h3: var(--heading--sm--h3);
    --heading--h4: var(--heading--sm--h4);
    --heading--h5: var(--heading--sm--h5);
    --heading--h6: var(--heading--sm--h6);
  }
}

/***********************************************
  Heading styles mobile portrait
***********************************************/
@media screen and (max-width: 478) {
  :root {
      /*heading values*/
    --heading--h1: var(--heading--xs--h1);
    --heading--h2: var(--heading--xs--h2);
    --heading--h3: var(--heading--xs--h3);
    --heading--h4: var(--heading--xs--h4);
    --heading--h5: var(--heading--xs--h5);
    --heading--h6: var(--heading--xs--h6);
  }
}

/***********************************************
  Spacer styles tablet
***********************************************/
@media screen and (max-width: 991px) {
  :root {
    --spacing--spacer-12: var(--size--4);
    --spacing--spacer-13: var(--size--5);
  }
}

/***********************************************
  Spacer styles mobile landscape
***********************************************/
@media screen and (max-width: 767px) {
  :root {
    --spacing--spacer-4: var(--size--0-75);
    --spacing--spacer-5: var(--size--1);
    --spacing--spacer-6: var(--size--1-5);
    --spacing--spacer-7: var(--size--1-63);
    --spacing--spacer-8: var(--size--2);
    --spacing--spacer-9: var(--size--2-5);
    --spacing--spacer-10: var(--size--3);
    --spacing--spacer-11: var(--size--3-5);
    --spacing--spacer-12: var(--size--4);
    --spacing--spacer-13: var(--size--4);
  }
}


/***********************************************
  section styles
***********************************************/
main section, header, footer {
    position: relative;
}

/***********************************************
  remove scroll bounce
***********************************************/
body { overscroll-behavior: none; }

/***********************************************
  container styles
***********************************************/
.w-container {
  container-type: inline-size;
}

@media screen and (min-width: 1728px){
  .padding-content,
  .padding-global {
    padding-left: 4.125rem;
    padding-right: 4.125rem;
  }
}






