.dark-background{
  .container-global{
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
  }

  .migrations-process_card{
    h3{
      transition: all 0.2s;
    }
    &:hover{
      .migrations-process_card-icon{
        margin-right: 0.5rem;
        max-width: 1.5rem;
        max-height:  1.5rem;
        opacity: 1;
      }
      h3{
        color: #146EF5;
      }
    }
    .migrations-process_card-icon{
      margin-right: 0px;
      max-width: 0px;
      max-height: 0px;
      opacity: 0;
      @media screen and (max-width: 991px){
        margin-right: 0.5rem;
        max-width: 1.5rem;
        max-height:  1.5rem;
        opacity: 1;
      }
    }
  }
}