// Importing from a subfolder
// @import 'components/buttons';

// Importing from a different folder
// @import '../assets/variables';

@import 'components/heading';


.dev-why{
  .swiper-slide:not(:first-child){
    border-left: 1px solid black;
    @media screen and (max-width: 991px){
      border-left: none;
    }
  }  
  .swiper-slide:nth-child(2){
    @media screen and (max-width: 991px){
      border-left: 1px solid black;
    }
    @media screen and (max-width: 767px){
      border-left: none;
    }
  } 
}

.process_slide-bottom-small{
  position: relative;
  &:after{
    content: '';
    position: absolute;
    top: -0rem;
    right: -1rem;
    background-color: #EFFF32;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    z-index: -1;
  }
}

.process_slide .process_slide-left > *,
.process_slide .process_slide-right > * {
  opacity: 0;
}

.process_slide-1 .process_slide-left > * {
  opacity: 1;
}