
// variable --after-width will be changed in JavaScipt
.highlight {
  position: relative;
  display: inline-block;
  --after-width: 0;
}

.highlight::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--after-width);
  height: 100%;
  background-color: yellow;
  z-index: -1; /* Ensure it is behind the text */
  transition: width 0.8s ease-out;
}